Source: libdata-define-perl
Section: perl
Priority: optional
Maintainer: Robert James Clay <jame@rocasa.us>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Standards-Version: 3.9.4
Homepage: http://search.cpan.org/dist/Data-Define/

Package: libdata-define-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Make undef's defined
 Various methods that take one parameter and return it as being defined no
 matter what it was before. You can also specify what the default returned
 value is to be as well as have it formated for html.
